html {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background: rgb(19, 19, 19);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    width: 100vw;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 900px) {
    .content-container{display: none !important;}
    .dummy_gov_container{display: none !important;}
    .mobile_warning{display: block !important;}
}

@media only screen and (max-width: 1200px) {
    #counter{display: none !important;}
    hr{display: none !important;}
}

.mobile_warning {
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    margin: auto;
    max-width: 20ch;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 42.5vh;
    display: none;
    background: linear-gradient(308deg, aqua 2%, purple 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

fadetext {
    background: linear-gradient(308deg, rgb(238, 86, 255) 2%, rgb(5, 109, 255) 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}


.title {
    background: linear-gradient(308deg, rgb(238, 86, 255) 2%, rgb(5, 109, 255) 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(3vw, 4vw, 5vw);
    max-width: 95vw;
}



.go-back {
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 3.5vh;
    background: linear-gradient(308deg, rgba(37,131,151,1) 2%, rgba(104,37,151,1) 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 150ms;
}

.go-back:hover {
    transform: scale(1.1);
}

.wallet-connect {
    color: #ffffff30;
    font-size: 1.4vh;
    font-weight: 400;
    min-width: 8vw;
    max-width: 10vw;
    min-height: 5vh;
    max-height: 7vh;
    position: absolute;
    top: 20px;
    right: 20px;
    background-size: 8vw;
    background: linear-gradient(308deg, rgb(238, 86, 255) 2%, rgb(5, 109, 255) 99%);
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-justify: center;
    cursor: pointer;
    transition: 100ms;
}

.wallet-connect:hover {
        transform: scale(1.05);
        color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}

#counter {
    margin-top: -10vh;
    color: #ffffff05;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    min-width: 13ch;
    font-size: 5.5vw;
    text-transform: uppercase;
    background-size: 7.5vw;
    padding: 2vw;
    border-radius: 25px;
    transition: 200ms;
}

#counter:hover {
    color: #ffffff20;
}

#divider {
    display: block;
    height: 0.1vh;
    width: 60vw;
    margin: auto;
    border: none;
    background-color:rgba(149, 157, 165, 0.2);
}

.content-container {
    padding-top: 20vh;
    padding-bottom: 0;
    margin-bottom: -30vh;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "content_title"
      "content_countdown"
      "content_footer";
  }
  .content_title { 
      grid-area: content_title;
      margin: auto; }
  .content_countdown { 
      grid-area: content_countdown; 
      margin: auto;}
  .content_footer { 
      grid-area: content_footer;
      margin: auto;
      margin-top: -7.50%; }

.dummy_gov_container {
  position: relative;
  display: grid;
  height: 300px;
  border: 2px solid transparent;
    padding: .5rem;
    border-radius: 2px;
    border-image-source: linear-gradient(308deg, rgb(238, 86, 255) 2%, rgb(5, 109, 255) 99%);
    border-image-slice: 2;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  width: 60vw;
  margin: auto;
  grid-template-areas:
    "dummy_gov_head"
    "dummy_gov_content"
    "dummy_gov_footer";
}
.dummy_gov_head { 
    grid-area: dummy_gov_head;
    padding: 1rem;
    color: #fff;
    font-weight: 200;
    margin: auto;
    font-family: "Montserrat", sans-serif;  }
.dummy_gov_content { 
    grid-area: dummy_gov_content;

    color: #fff;
    position: relative;
    font-weight: 200;
    margin: auto;
    font-family: "Montserrat", sans-serif; }
.dummy_gov_footer { 
    grid-area: dummy_gov_footer;
    padding: 1rem;
    color: #fff;
    font-family: "Montserrat", sans-serif; 
}

#dummy_text {
    text-align: center;
}
