/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: rgb(19,19,19);
}

html::-webkit-scrollbar {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    display: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
  color: #7b7b7b;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

fadetext {
    background: linear-gradient(308deg, rgb(238, 86, 255) 2%, rgb(5, 109, 255) 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}


#twitter-link {
    font-weight: 500;
    color: #fff;
}

#twitter-link:hover {
    color: #ffffff70;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 300;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: transparent;
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px -14px rgba(44, 44, 44, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(308deg, rgb(0, 136, 255) 1%, rgb(87, 0, 128) 99%);
}

.card_title {
  color: #ffffffea;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  text-align: center;
}


.card_text {
  color: #ffffffdc;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  text-align: center;
}

.card_social {
    color: #ffffff95;
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }

.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
